nav .container .navbar-brand .web-logo {
  width: 150px;
}
nav .navbar-collapse ul.nav-icons li a {
  color: #838383;
}
nav .navbar-collapse ul.nav-icons li a.create-listing {
  border-radius: 10px;
  border: solid 1px #F0F1F3;
  transition: all 0.2s ease-in-out;
}
nav .navbar-collapse ul.nav-icons li a.create-listing:hover {
  background-color: #F0F1F3;
  color: #000000;
}
nav .navbar-collapse ul.nav-icons li a.create-listing:hover .fa-plus {
  transition: all 0.2s ease-in-out;
  transform: rotate(90deg);
}
nav .navbar-collapse ul.nav-icons form.nav-item .btn-logout {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .btn-logout {
    margin-right: 0;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
  }
  .create-listing {
    text-align: center;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .btn-logout {
    margin-right: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
  }
  .create-listing {
    text-align: center;
  }
}
footer {
  min-height: 50px;
}

.footer-wrapper {
  background-color: #000000;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.footer-wrapper p {
  color: white;
}
.footer-wrapper .about-section {
  padding-right: calc(var(--bs-gutter-x) * 1.3);
}
.footer-wrapper hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.footer-wrapper hr.small {
  margin: 20px 0;
}
.footer-wrapper h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.footer-wrapper a {
  color: #ffffff;
  text-decoration: none;
}
.footer-wrapper a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-wrapper .footer-logo {
  width: 120px;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #aeaeae;
}
.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #ffffff;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}

footer .social-icons {
  text-align: right;
}
footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.2s linear;
}
.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook {
  background-color: #3b5998;
}
.social-icons a.github {
  background-color: #000000;
}

@media only screen and (max-width: 768px) {
  footer {
    padding-bottom: 0;
  }
  footer .copyright-text, footer .social-icons {
    text-align: center;
  }
  .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .social-icons li {
    display: inline-block;
    margin-bottom: 4px;
  }
  .social-icons li.title {
    display: block;
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
    margin-right: 0;
    font-weight: 600;
  }
  .social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    transition: all 0.2s linear;
  }
  .social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
  }
  .social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
  }
  .social-icons a.facebook {
    background-color: #3b5998;
  }
  .social-icons a.github {
    background-color: #000000;
  }
}/*# sourceMappingURL=custom.css.map */