<!-- <form action="/products/filter" method="POST" id="filterForm">
    <div class="mb-4">
        ${ATTRIBUTES.map(attribute => `
            <fieldset class="mb-3">
                <legend>${attribute.aName}</legend>
                ${attribute.valueList.map(value => `
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="${attribute.aName.toLowerCase()}" value="${value}" id="${value}">
                        <label class="form-check-label" for="${value}">
                            ${value}
                        </label>
                    </div>
                `).join('')}
            </fieldset>
        `).join('')}
    </div>
    <button type="submit" class="btn btn-primary">Apply Filters</button>
</form> -->