@for $i from 1 through 5 {
    .line-clamp-#{$i} {
        -webkit-line-clamp: #{$i};
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

// Object styling
.obj-center-cover {
    object-fit: cover;
    object-position: center;
}

// height
.h-sz-80 {
    height: var(--sz-80);
}

.h-sz-96 {
    height: var(--sz-96);
}

// scroll
.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #DC761D #ccc;
}

.scrollbar::-webkit-scrollbar {
    width: var(--sz-2);
    height: var(--sz-2);
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #79A49C;
    border-radius: var(--sz-half);
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: var(--sz-1);
}

// cards
.card-custom {
    &-container {
        height: var(--sz-96);
        width: var(--sz-96);
    }

    &-img {
        object-position: center;
        object-fit: cover;
    }
}