:root {
    /* Tailwind text size */
    --text-9xl: 8rem;
    --text-8xl: 6rem;
    --text-7xl: 4.5rem;
    --text-6xl: 3.75rem;
    --text-5xl: 3rem;
    --text-4xl: 2.25rem;
    --text-3xl: 1.875rem;
    --text-2xl-half: 1.625rem;
    --text-2xl: 1.5rem;
    --text-xl: 1.25rem;
    --text-lg: 1.125rem;
    --text-base: 1rem;
    --text-sm: 0.875rem;
    --text-xs: 0.75rem;

    /* General Size For All Use */
    --sz-px: 1px;
    --sz-half: 0.125rem;
    /* 2px */
    --sz-1: 0.25rem;
    /* 4px */
    --sz-1-half: 0.375rem;
    /* 6px */
    --sz-2: 0.5rem;
    /* 8px */
    --sz-2-half: 0.625rem;
    /* 10px */
    --sz-3: 0.75rem;
    /* 12px */
    --sz-3-half: 0.875rem;
    /* 14px */
    --sz-4: 1rem;
    /* 16px */
    --sz-5: 1.25rem;
    /* 20px */
    --sz-6: 1.5rem;
    /* 24px */
    --sz-7: 1.75rem;
    /* 28px */
    --sz-8: 2rem;
    /* 32px */
    --sz-9: 2.25rem;
    /* 36px */
    --sz-10: 2.5rem;
    /* 40px */
    --sz-11: 2.75rem;
    /* 44px */
    --sz-12: 3rem;
    /* 48px */
    --sz-14: 3.5rem;
    /* 56px */
    --sz-16: 4rem;
    /* 64px */
    --sz-20: 5rem;
    /* 80px */
    --sz-24: 6rem;
    /* 96px */
    --sz-28: 7rem;
    /* 112px */
    --sz-32: 8rem;
    /* 128px */
    --sz-36: 9rem;
    /* 144px */
    --sz-40: 10rem;
    /* 160px */
    --sz-44: 11rem;
    /* 176px */
    --sz-48: 12rem;
    /* 192px */
    --sz-52: 13rem;
    /* 208px */
    --sz-56: 14rem;
    /* 224px */
    --sz-60: 15rem;
    /* 240px */
    --sz-64: 16rem;
    /* 256px */
    --sz-72: 18rem;
    /* 288px */
    --sz-80: 20rem;
    /* 320px */
    --sz-96: 24rem;
    /* 384px */
}