<div class="container-xl" id="home-content">
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Database Group 2 Shop</h1>
                <p class="lead fw-normal text-white-50 mb-0">Database Group 2 Shop Homepage</p>
            </div>
        </div>
    </header>
    <!-- Js -->
    <section id="home-content-product" class="container mt-5 py-5 w-100">

    </section>
</div>