<html lang="en">

<head>
    <%- include('./partials/head.ejs', title) %>
</head>
<header>
    <%- include('./partials/header.ejs', navElements) %>
</header>

<body>
    <%- include(bodyTemplate) %>

</body>
<footer class="footer"></footer>

</html>