<html lang="en">
<head>
  <%- include ('../partials/head') %>
  <title>My Account</title>
</head>

<body>
  <header id="header">
    <%- include ('../partials/header') %>
  </header>

  <div class="container-xl">
      My Account page
  </div>

  <footer class="footer">
    <%- include ('../partials/footer') %>
  </footer>
  
</body>
</html>