<div class="container-fluid bg-light-subtle text-emphasis-light">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-10 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form action="/signup" method="POST" class="mx-1 mx-md-4">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="displayName">Display Name</label>
                      <input required type="text" name="displayName" id="displayName" class="form-control" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="username">User Name</label>
                      <input required type="text" id="username" name="username" class="form-control" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <select required class="form-select" name="account" id="account">
                      <option value="Customer">Customer Account</option>
                      <option value="Seller">Seller Account</option>
                      <option value="Warehouse Admin">Warehouse Admin Account</option>
                    </select>
                  </div>
                  
                  <div class="d-flex flex-row align-items-center mb-4"> 
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="password">Password</label>
                      <input required type="password" id="password" name="password" class="form-control" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="details">Bio</label>
                      <input required type="text" id="details" name="details" class="form-control" />
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mb-5">
                    <a href="/login">Already have an account? Sign in now!</a>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Register</button>

                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-2 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="./resources/image/signup_image.png" class="img-fluid" alt="Sample image"
                  style="width: 500px; height: auto;">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>