<html lang="en">
<head>
  <%- include ('../partials/head') %>
  <title>Order Detail</title>
</head>

<body>
  <header id="header">
    <%- include ('../partials/header') %>
  </header>

    <div class="container-xl">
      Details for order <%= order_id %>
    </div>

    <footer class="footer">
        <%- include ('../partials/footer') %>
    </footer>

</body>
</html>