<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <title>Place Order</title>
</head>

<body>
    <header id="header">
        <%- include ('../partials/header') %>
    </header>

    <div class="container-xl">
      Place order page
    </div>

    <footer class="footer">
        <%- include ('../partials/footer') %>
    </footer>

</body>
</html>