<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">
        Our Products
      </h1>
    </div>
  </div>
</header>
<div>
  <div class="d-flex justify-content-between align-items-start px-4 pt-4">
    <!-- Search bar -->
    <div class="input-group mb-3 w-75">
      <input type="text" class="form-control" placeholder="Search by product name" id="productNameSearch">
      <button class="btn btn-outline-secondary" id="searchButton">Search</button>
    </div>

    <!-- Filter bar based on product attributes -->
    <!-- Button to open Filter modal -->
    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#filterModal">
      <i class="fa-solid fa-filter"></i> Filter
    </button>
  </div>

  <!-- js -->
  <section id="category" class="container mt-5 w-100">
    <!-- Product List -->
    <%- include('../partials/product-list', {productList: productList, type: "This website"}) %>

  </section>
</div>

<!-- Filter Modal -->
<%- include('../partials/modal', {
    modalId: "filterModal",
    heading: "Filter Products",
    body: `
    <div class="card">
        <div class=""card-body h-100 overflow-scroll>
            <form action="/product/filter" method="POST" id="filterForm" class="m-4" style="height: 50vh; overflow-y: auto;">
                <div class="mb-3">
                    <label for="categorySelect" class="form-label">Category</label>
                    <select class="form-select" id="categorySelect" name="category">
                        <option value="">Choose a category...</option>
                        ${categoryList.map(category => `<option value="${category.id}">${category.name}</option>`).join('')}
                    </select>
                </div>
                ${productAttributes.map(attribute => `
                        <fieldset class="mb-3">
                            <legend>${attribute.aName}</legend>
                            ${attribute.valueList.map(value => `
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="${attribute.aName}" value="${value}" id="${value}">
                                    <label class="form-check-label" for="${value}">
                                        ${value}
                                    </label>
                                </div>
                            `).join('')}
                        </fieldset>
                    `).join('')}
                <button type="submit" class="btn btn-primary">Apply Filters</button>
            </form>
        </div>
    </div>
`,
isFullScreenSm: false,
}) %>
<script>
  function debounce(func, wait) {
    let timeout;

    return function executedFunction(...args) {
      const later = () => {
        clearTimeout(timeout);
        func(...args);
      };

      clearTimeout(timeout);
      timeout = setTimeout(later, wait);
    };
  };
  const performSearch = debounce(function() {
    const query = document.getElementById('productNameSearch').value;

    if (query.trim() === '') return;

    // call query to server
    
  }, 300); // 300ms debounce time
  document.getElementById('productNameSearch').addEventListener('input', performSearch);
</script>