<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Database Group 2 Shop</h1>
            <p class="lead fw-normal text-white-50 mb-0">Database Group 2 Shop Homepage</p>
        </div>
    </div>
</header>
<!-- Js -->
<section id="home-content-product" class="container mt-5 py-5 w-100">
    <div class="row py-5">
        <% categoryList.forEach(category=> { %>
            <section class="col">
                <a role="button" class="fs-1 mb-4 mb-md-3 fw-bolder line-clamp-1 text-center text-dark 
                link-underline link-dark link-underline-opacity-0 link-underline-opacity-75-hover"
                    href="<%= navigatePage(" category", category.id) %>">
                    <%= category.name %>
                </a>
                <div
                    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 gy-5 gx-4 gx-lg-10 overflow-x-scroll flex-nowrap scrollbar pb-5">
                    <% category.products.forEach(product=> { %>
                        <%- include('./product-card', {navigatePage, product}) %>
                            <% }) %>
                </div>
                <% }) %>
    </div>
</section>