<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <title>Home</title>
</head>
<header id="header">
    <%- include ('../partials/header') %>
</header>
<body>
    <div class="container-xl">
        Home page
    </div>
</body>

<footer class="footer">
    <%- include ('../partials/footer') %>
</footer>
</html>