<div class="container-xl">
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Contact Us</h1>
        <p class="lead fw-normal text-white-50 mb-0">Database Group 2 Shop</p>
      </div>
    </div>
  </header>
  <div class="d-flex flex-column my-5">
    <h2 class="fw-2">Contact Us</h2>
    <span>Here is our team project <a
        href="https://github.com/GiangTrongDuong/ISYS2099-Database-Application/tree/main">Github Link</a></span>
    <p>Team Member Emails:</p>
    <ul>
      <% members.forEach(member=> { %>
        <li>
          <%= member.name %>: <a href="mailto: <%= member.email %>">
              <%= member.email %>
            </a>
        </li>

        <% }) %>
    </ul>
    <p><b>Address</b>: 702 Nguyen Van Linh, Tan Phong Ward, District 7, Ho Chi Minh City</p>
    <iframe
      src=" https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31360.573788545888!2d106.65765787431641!3d10.72895150000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fbea5fe3db1%3A0xfae94aca5709003f!2sRMIT%20University%20Vietnam%20-%20Saigon%20South%20campus!5e0!3m2!1sen!2s!4v1693888097674!5m2!1sen!2s"
      width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>