<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <title>Privacy Policy</title>
</head>

<body>
  <header id="header">
    <%- include ('../partials/header') %>
</header>

  <div class="container-xl">
    Privacy Policy
  </div>
  
  <footer class="footer">
    <%- include ('../partials/footer') %>
  </footer>
</body>
</html>