<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Privacy Policy</h1>
      <p class="lead fw-normal text-white-50 mb-0">Database Group 2 Shop</p>
    </div>
  </div>
</header>
<section class="d-flex flex-column g-5 m-5">
  <h2 class="fw-2 text-center"><b>Group 2 Database Application</b>'s Privacy Policy</h2>
  <h5 class="text-center">Last updated: 06 August 2023</h5>
  <ol class="d-flex flex-column g-5">
      <li class="my-3">
          <details class=" fw-6">
              <summary>Introduction</summary>
              <article>
                  <p>Welcome to the Hermes Library's website. We value our users' privacy and are dedicated to
                      preserving
                      it through adherence to this policy.
                  </p>
                  <p>
                      This policy explains the sorts of information we may collect from you or that you may supply
                      when
                      visiting our website, as well as our procedures for collecting, using, storing, and
                      disclosing
                      that
                      information.
                  </p>
              </article>
          </details>
      </li>
      <li class="my-3">
          <details class=" fw-6">
              <summary>Information We Collect and How We Collect It</summary>
              <article>
                  <p>We gather numerous sorts of information from and about our website visitors, including:</p>
                  <ul>
                      <li>We get it directly from you when you agree and provide it to us.</li>
                      <li>As you explore the site, this happens automatically. <br>Automatically gathered
                          information
                          may include
                          use details, IP addresses, and information obtained through cookies.</li>
                  </ul>
              </article>

          </details>
      </li>
      <li class="my-3">
          <details class=" fw-6">
              <summary>Information You Provide to Us</summary>
              <article>
                  <p>We may collect the following types of information on or via our website:</p>
                  <ul>
                      <li>
                          Personal Data: While using our website, we may request that you give us with personally
                          identifying
                          information that will allow us to contact you. Your email address, name, and phone
                          number are
                          all
                          examples of personally identifiable information.
                      </li>
                  </ul>
              </article>
          </details>
      </li>
      <li class="my-3">
          <details class=" fw-6">
              <summary>How We Will Use Your Data</summary>
              <article>
                  <p>
                      We utilize the following information about you that we collect or that you supply to us,
                      including
                      any personal data:
                  </p>
                  <ul>
                      <li>To introduce you to our website and its contents.</li>
                      <li>To send you the books you've requested.</li>
                      <li>To keep you informed of any changes to our website or any items we sell or supply.</li>
                      <li>With your permission, for any other reason.</li>
                  </ul>
              </article>
          </details>
      </li>
      <li class="my-3">
          <details class=" fw-6">
              <summary>Information Dissemination</summary>
              <article>
                  <p>We do not sell, trade, or rent personal identifiable information about our users to third
                      parties.
                      We may share general aggregated demographic information about visitors and users that is not
                      linked
                      to any personal identifiable information with our business partners, trusted affiliates, and
                      advertising.
                  </p>
              </article>
          </details>
      </li>
  </ol>

</section>